@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffcf48;
}

a {
  text-decoration: none;
  color: #000;
  font-family: 'Rubik', sans-serif;
}

ul {
  list-style-type: none;
}

footer {
  padding: 1em 0.5em;
  background-color: #1f1f1f;
  color: #f7b733;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}
